html, body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px 50px;
    border: 1px solid #888;
    width: fit-content;
    text-align: center;
}

.hidden {
    display: none;
}

.mainText {
    text-align: center;
}

#backButton {
    margin-right: 10px;
}

#createRoomRoomId {
    font-weight: bold;
}